<div class="flexbox-checkbox col-xs-8 col-xs-offset-2">
  <div class="flexbox-checkbox-item">
    <div class="col-xs-12">
      <div class = "flexbox-subcheckbox">
        <div>
          <%= check_box_tag :late_rent, params[:late_rent], @late_rent_checked, class: "checkbox-input fancy-checkbox" %>
          <%= label_tag :late_rent%>
        </div>
        <p> Retard de loyer (<%= @late_rent.length %>) </p>
      </div>
    </div>
  </div>

  <div class="flexbox-checkbox-item">
    <div class="col-xs-12">
      <div class = "flexbox-subcheckbox">
        <div>
          <%= check_box_tag :end_of_lease, params[:end_of_lease], @end_of_lease_checked, class: "checkbox-input fancy-checkbox" %>
          <%= label_tag :end_of_lease%>
        </div>
        <p>Fin de bail (<%= @end_of_lease.length %>) </p>
      </div>
    </div>
  </div>

  <div class="flexbox-checkbox-item">
    <div class="col-xs-12">
      <div class = "flexbox-subcheckbox">
        <div>
          <%= check_box_tag :rent_revision, params[:rent_revision], @rent_revision_checked, class: "checkbox-input fancy-checkbox" %>
          <%= label_tag :rent_revision %>
        </div>
        <p>Révision de loyer (<%= @rent_revision.length %>)</p>
      </div>
    </div>
  </div>
</div>
