<div class="container">
  <div class="row">
    <div class="stakeholders col-xs-12 col-md-4">
    <!-- PROPRIETAIRE -->
      <div class="stakeholder">
        <p id = "left-event-title"><strong><i class="icon-show fa fa-user" aria-hidden="true"></i> PROPRIÉTAIRE</strong></p>
        <p><strong>Nom :</strong> <%= @event.lease.owner_name %></p>
        <p><strong>Email : </strong><%= @event.lease.owner_email %></p>
      </div>
      <!-- BIEN -->
      <div class="stakeholder">
        <p id = "left-event-title"><strong><i class=" icon-show fa fa-home" aria-hidden="true"></i>BIEN</strong></p>
        <p><strong>Adresse :</strong> <%= @event.lease.tenant_address %></p>
        <p><strong>Nature du bail :</strong> <%= @event.lease.nature %></p>
        <p><strong>N° du lot :</strong> <%= @event.lease.num_lot %></p>
        <p><strong>Loyer mensuel :</strong> <%= number_with_delimiter(@event.lease.monthly_rent, :delimeter => " ").to_s.gsub(',',' ') %> €</p>
      </div>
      <!-- END BIEN -->
      <!-- LOCATAIRE -->
      <div class="stakeholder">
        <p id = "left-event-title"><strong><i class="icon-show fa fa-user-o" aria-hidden="true"></i>LOCATAIRE</strong></p>
        <% if (@event.lease.nature == "Commercial 3 ans") || (@event.lease.nature == "Commercial 9 ans")%>
        <p>Société : <%= @event.lease.tenant_name %> </p>
        <% else %>
        <p>Nom : <%= @event.lease.tenant_name %> </p>
        <p>Prénom : <%= @event.lease.tenant_first_name %></p>
        <% end %>
      </div>
    </div>
    <!-- END LEFT DIV -->

    <!-- RIGHT DIV -->
    <div class="lease-informations col-xs-12 col-md-7">
        <!-- EVENT DESCRIPTION -->
        <div class = "top-show-right">
        <% if (@event.description == "fin de bail")%>
        <p id = "type_event_bail"> <%= @event.description.capitalize %> </p>
        <% elsif (@event.description == "révision de loyer")%>
        <p id = "type_event_loyer"><%= @event.description.capitalize %> </p>
        <% else %>
        <p id = "type_event_paiement"><%= @event.description.capitalize %> </p>
        <% end %>
          <div class = "icon-status">
            <% if @event.emergency_level == "non-due" %>
            <%= image_tag("Low.png", :width => 40, :height => 18) %>
            <% elsif @event.emergency_level == "due" %>
            <%= image_tag("Middle.png", :width => 40, :height => 18) %>
            <% elsif @event.emergency_level == "overdue"%>
            <%= image_tag("triangle.png", :width => 20, :height => 20, :class => align="center")%>
            <% else %>
            <%= image_tag("High.png", :width => 40, :height => 18) %>
            <% end %>
          </div>
        </div>
          <!-- END TOP -->
      <div class="event-element col-xs-12">
      <% if @event.description == "retard loyer" %>
        <p id = "event-title"><strong><i class="icon-show fa fa-exclamation-circle" aria-hidden="true"></i> IMPAYÉ</strong></p>
        <p><%= number_with_delimiter(@event.lease.rent_balance, :delimeter => " ").to_s.gsub(',',' ')%> €</p>
        <% else %>
                <p id = "event-title"><strong><i class="icon-show fa fa-calendar-times-o" aria-hidden="true"></i> DATE D'ÉCHÉANCE</strong></p>
        <p><%= @event.end_date.strftime("%d/%m/%Y") %></p>
      <% end %>
      </div>
      <!-- STATUS -->
      <div class="event-element col-xs-12">
      <% if @event.description == 'retard loyer' %>
        <% if  @event.status == "tenant_to_notify"%>
          <p  id = "event-title"> <strong><i class="icon-show fa fa-list-ul" aria-hidden="true"></i> TÂCHES (0/1) :</strong></p>
        <% else %>
          <p  id = "event-title"> <strong><i class="icon-show fa fa-list-ul" aria-hidden="true"></i> TÂCHES (1/1) :</strong></p>
        <% end %>
      <% else %>
        <% if  @event.status == "owner_to_contact"%>
         <p  id = "event-title"> <strong><i class="icon-show fa fa-list-ul" aria-hidden="true"></i> TÂCHES (0/2) :</strong></p>
          <% elsif @event.status == "owner_contacted" || @event.status == "tenant_to_notify" %>
          <p  id = "event-title"> <strong><i class="icon-show fa fa-list-ul" aria-hidden="true"></i>TÂCHES  (1/2) </strong></p>
          <% elsif @event.status == "tenant_notified"%>
          <p  id = "event-title"> <strong><i class="icon-show fa fa-list-ul" aria-hidden="true"></i>TÂCHES (2/2) :</strong> </p>
        <% end %>
      <% end %>
        <%= render 'shared/status_task_list' %>
        </div>
        <div class = form-box>
        <%= render 'shared/form' %>
        <% if  !@event.comments.blank?%>
          <%= render 'shared/comment', comments: @event.comments.reverse %>
          <% else %>
          <p id = no-comment-yet>Il n'y a pas encore de commentaire sur cet évenement</p>
        <% end %>
        </div>
      </div>
    </div>
  </div>


<%= render '/shared/modal_choice_owner' %>
<%= render '/shared/modal_owner_to_contact' %>
<%= render '/shared/modal_success' %>
<% if @event.description == 'retard loyer' %>
  <%= render '/shared/modal_choice_late_rent' %>
<% end %>
