    <% end_date = "#{@event.lease.end_date.day}/#{@event.lease.end_date.month}/#{@event.lease.end_date.year}" %>
    <% start_date = "#{@event.lease.end_date.day}/#{@event.lease.end_date.month}/#{(@event.lease.end_date - 9.years).year}"%>
    <% new_date = "#{(@event.lease.end_date + 1.days).day}/#{@event.lease.end_date.month}/#{@event.lease.end_date.year}" %>

    <p><strong>Objet:</strong> Congé de votre bail commercial</p>
    <br>
    <p><strong>Madame, Monsieur,</strong></p>
    <br>
    <p>À la requête de votre bailleur <%= @event.lease.owner_name %>,</p>
    <p>Je soussigné, <%= current_user.first_name %> <%= current_user.last_name %>,
    déclare à M. <%=@event.lease.tenant_name%></p>
    <p>Que le requérant a donné à bail à loyer à M. <%=@event.lease.tenant_name%>, divers locaux à usage commercial consistant en une boutique et un bureau, dans un immeuble situé au <%= @event.lease.tenant_address%> à Paris, ayant commencé à courir le <%= start_date %> et venant à expiration le <%= end_date %>;</p>
    <p>Que le requérant entend par la présente notification mettre fin au bail et donne en conséquence congé à M. <%=@event.lease.tenant_name%> pour la date du <%= end_date %>;</p>
    <br>
    <p>Que ce congé est donné afin de voir s'ouvrir le droit de M. <%=@event.lease.tenant_name%> au renouvellement de son bail et afin que soient déterminées les conditions du nouveau bail, conformément aux dispositions de l'article L. 145-11 du Code de commerce.
    Si M. <%=@event.lease.tenant_name%> entend se prévaloir de son droit au renouvellement du bail, M. <%= @event.lease.owner_name %> demande que le nouveau loyer soit fixé à la somme de <%= number_with_delimiter(@event.new_rent, :delimeter => " ").to_s.gsub(',',' ') %> € par mois en principal à compter du <%= new_date %>, étant précisé :</p>
    <br>
    <p>(i)   Que le dépôt de garantie devra être réajusté en conséquence ;</p>
    <p>(ii)  Que toutes les autres clauses et conditions du bail demeureront inchangées.
    Déclarant à M. <%=@event.lease.tenant_name%> que pour le cas où il entendrait discuter les conditions du renouvellement proposé, il aurait la faculté de saisir la juridiction compétente dans les conditions prévues aux articles R. 145-23 et suivants du Code de commerce.
    Lui déclarant en outre, en application du cinquième alinéa de l'article L. 145-9 du Code de commerce, que s'il entend soit contester le congé, soit demander le paiement d'une indemnité d'éviction il doit, à peine de forclusion, saisir le tribunal avant l'expiration d'un délai de deux ans à compter de la date pour laquelle le congé a été donné.</p>
    <br>
    <p>Veuillez agréer Madame, Monsieur, l'expression de sentiments distingués.</p>
