<% end_date = "#{@event.lease.end_date.day}/#{@event.lease.end_date.month}/#{@event.lease.end_date.year}" %>
    <% start_date = "#{@event.lease.end_date.day}/#{@event.lease.end_date.month}/#{(@event.lease.end_date - 9.years).year}"%>
    <% new_date = "#{(@event.lease.end_date + 1.days).day}/#{@event.lease.end_date.month}/#{@event.lease.end_date.year}" %>

    <p><strong>Objet:</strong> Relance paiment de votre loyer</p>
    <br>
    <p><strong>URGENT</strong></p>
    <br>
    <p><strong>Madame, Monsieur,</strong></p>
    <br>
    <p>À la requête de votre bailleur <%= @event.lease.owner_name %>,</p>
    <p>Je soussigné, <%= current_user.first_name %> <%= current_user.last_name %>,
    déclare à M. <%=@event.lease.tenant_name%></p>
    <p>Que le requérant a donné à bail à loyer à M. <%=@event.lease.tenant_name%>, divers locaux à usage commercial consistant en une boutique et un bureau, dans un immeuble situé au <%= @event.lease.tenant_address%> à Paris.</p>

    <p>A la date de ce jour, vous n'avez pas réglé les loyers et les charges des mois de <%= Date.today.strftime("%B") %>, ce qui représente une somme totale de <%= number_with_delimiter(@event.lease.rent_balance, :delimeter => " ").to_s.gsub(',',' ') %> euros.</p>


    <p>Que le requérant entend par la présente notification mettre fin au bail et donne en conséquence congé à M. <%=@event.lease.tenant_name%> pour la date du <%= end_date %>;</p>
    <br>
    <p>Par la présente, je vous mets en demeure de payer cette somme, par chèque ou virement, dans les quinze jours après la première présentation de cette lettre recommandée.

    A défaut de paiement dans ce délai, vous recevrez une mise en demeur. Ensuite je me verrais contraint de vous faire délivrer un commandement de payer par huissier, avant d'entamer la procédure de résiliation de plein droit du bail prévue dans le contrat de location. </p>
    <br>

    <p>Veuillez agréer Madame, Monsieur, l'expression de sentiments distingués.</p>
