<div class="background-container">

<!-- HOME -->
  <div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 40%), url(<%= image_path 'paris-banner.png' %>);">
      <div class ="logo-home">
        <%= image_tag 'leasy_logo_white.png', width: 100 %>
        </div>
  <%= link_to 'Se connecter', new_user_session_path, html_options={class: "log-in-button text-center"}%>
      <div class="cover-content">
        <h1>Prenez votre envol</h1>
            <hr>
            <p>Leasy vous décharge de toute tâche administrative liée à vos gestions locatives.</p>
            <button class = "home-cta" data-toggle='modal' data-target='#mailfordemo'>Obtenir une démo</button>
      </div>
  </div>
<!-- BODY -->
<p class="titlebottom">Pourquoi choisir Leasy ?</p>
<div class="loggedout-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="bottom-feature">
          <%= image_tag('calendar.png', class: 'feature-picto') %>
          <div class="feature-desc text-center">
            <h3>Détection automatique d'évènements</h3>
            <p>Il détecte les évènements contractuels à venir à partir de votre portefeuille de baux.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="bottom-feature">
          <%= image_tag('list.png', class: 'feature-picto') %>
          <div class="feature-desc text-center">
            <h3>Suivi des tâches associées aux évènements</h3>
            <p>Il associe à ces évènements une liste de tâches, liées au bailleur ou au locataire.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="bottom-feature">
          <%= image_tag('mail.png', class: 'feature-picto') %>
          <div class="feature-desc text-center">
            <h3>Génération de mails/lettres en un clic</h3>
            <p>Il génère pour les bailleurs et les locataires des messages prêts à l'envoi et personnalisables.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-description">
  <div class="description-block">
    <div class="title-description">
      <p><strong>1 - Consultez votre planning et votre avancement en quelques minutes</strong></h4>
    </div>
    <div class="explanation-description">
      <p>Leasy calcule en temps réel votre avancement et  classe vos dossiers par ordre de priorité. Chaque jour, Leasy vous présente les urgences à traiter en urgence.</p>
    </div>
  </div>
  <div class="screenshot-block">
    <%= image_tag 'dashboard.png', width: 500 %>
  </div>
</div>
<div class="inverted-row-description">
  <div class="inverted-screenshot-block">
    <%= image_tag 'show.png', width: 500 %>
  </div>
  <div class="inverted-description-block">
    <div class="title-description">
      <p><strong>2 - Accédez aux détails de chaque évenements</strong></h4>
    </div>
    <div class="explanation-description">
      <p>Qu'il s'agisse d'une fin de bail, d'une révision de loyer ou d'un retard de paiement, Leasy présente la liste des tâches à effectuer ainsi que l'historique des avancements réalisé par les collaborateurs.</p>
    </div>
  </div>
</div>
<div class="row-description">
  <div class="description-block">
    <div class="title-description">
      <p><strong>3 - Automatisez votre communication</strong></h4>
    </div>
    <div class="explanation-description">
      <p>Leasy génère automatiquement les mails et documents nécessaires lors de la réalisation des différents évènements. </p>
    </div>
  </div>
  <div class="screenshot-block">
    <%= image_tag 'mail-screenshot.png', width: 500 %>
  </div>
</div>
  <div class="city-cover" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 30%), url(<%= image_path 'paris-sky.jpg' %>);">
    <button data-toggle='modal' data-target='#mailfordemo' class = "btn-log">Demander une démo</button>
  </div>
</div>
<%= render '/shared/footer' %>
<%= render '/shared/mailfordemo' %>
